<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd     
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.zpf.service" />
	<context:component-scan base-package="com.zpf.task" />
	<context:component-scan base-package="com.zpf.controller" />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<bean
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath">
			<value>/vm/</value>
		</property>
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">utf-8</prop>
				<prop key="output.encoding">utf-8</prop>
				<prop key="contentType">text/html;charset=utf-8</prop>
			</props>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="cache" value="true" />
		<property name="suffix" value=".vm" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="layoutUrl" value="common/layout.vm" />
		<property name="layoutKey" value="layout" />
		<property name="screenContentKey" value="screen_content" />
		<property name="viewClass"
			value="org.springframework.web.servlet.view.velocity.VelocityLayoutView" />
		<property name="dateToolAttribute" value="dateTool"></property>
		<property name="numberToolAttribute" value="numberTool"></property>
	</bean>

	<!-- 异常处理页面 -->
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<!-- 定义默认的异常处理页面，当该异常类型的注册时使用 -->
		<property name="defaultErrorView" value="common/error"></property>
		<!-- 定义异常处理页面用来获取异常信息的变量名，默认名为exception -->
		<property name="exceptionAttribute" value="ex"></property>
		<!-- 定义需要特殊处理的异常，用类名或完全路径名作为key，异常也页名作为值 -->
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Throwable">common/error</prop>
				<!-- 这里还可以继续扩展对不同异常类型的处理 -->
			</props>
		</property>
	</bean>


	<!-- 容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL -->
	<mvc:default-servlet-handler />

	<import resource="classpath:config/spring-sso.xml" />
	<import resource="classpath:config/spring-mybatis.xml" />
	<import resource="classpath:config/spring-mail.xml" />
	<import resource="classpath:config/spring-quartz.xml" />
	<import resource="classpath:config/application/applicationContext.xml" />


</beans>